body{
margin:0;
font-family:Arial;
background:#f6efe5;
}

/* SIDEBAR */

.sidebar{
width:135px;
height:100vh;
background:#9c0000;
color:white;
position:fixed;
padding:18px 8px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:8px;
margin-top:10px;
font-size:13px;
}

.sidebar a:hover{
background:#b00000;
border-radius:5px;
}

/* LOGO */

.logo{
text-align:center;
margin-bottom:25px;
}

.logo-img{
width:65px;
margin-bottom:6px;
}

.brand-main{
font-size:18px;
font-weight:bold;
}

.brand-sub{
font-size:11px;
}

/* MAIN AREA */

.main{
margin-left:135px;
}

/* HEADER */

.header{
background:#e88900;
color:white;
text-align:center;
padding:12px;
font-size:18px;
font-weight:bold;
border-bottom:3px solid #b86a00;
}

/* CONTENT */

.container{
padding:15px 25px;
}

/* DASHBOARD TITLE */

h1{
margin-top:5px;
margin-bottom:10px;
}

/* CARDS */

.cards{
display:flex;
gap:10px;
margin-bottom:12px;
}

.card{
background:white;
padding:10px 12px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
flex:1;
border-left:4px solid #e88900;
}

.card h4{
margin:0;
font-size:12px;
color:#666;
}

.card p{
font-size:17px;
font-weight:bold;
color:#9c0000;
margin-top:4px;
}

/* FILTERS */

.filters{
display:flex;
gap:8px;
flex-wrap:wrap;
margin-bottom:12px;
}

.filters input,
.filters select{
padding:6px 8px;
border-radius:5px;
border:1px solid #ccc;
}

/* TABLE */

table{
width:100%;
background:white;
border-radius:8px;
overflow:hidden;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
}

th{
background:#9c0000;
color:white;
padding:8px;
font-size:13px;
}

td{
padding:8px;
border-bottom:1px solid #eee;
font-size:13px;
}

tr:nth-child(even){
background:#faf6f0;
}

/* PAYMENT STATUS */

.paid{
color:green;
font-weight:bold;
}

.pending{
color:red;
font-weight:bold;
}

/* BUTTON */

.btn{
background:#9c0000;
color:white;
padding:5px 10px;
border-radius:5px;
font-size:12px;
text-decoration:none;
}

.btn:hover{
background:#b00000;
}
