{% extends "admin/layout.html" %}

{% block content %}

<h1>Dashboard</h1>

<div class="cards">

<div class="card">
<h4>Total Clients</h4>
<p>{{ total_clients }}</p>
</div>

<div class="card">
<h4>Pending Payment</h4>
<p>{{ pending_payment }}</p>
</div>

<div class="card">
<h4>Reviewed Reports</h4>
<p>{{ reviewed_reports }}</p>
</div>

<div class="card">
<h4>Completed Reports</h4>
<p>{{ completed_reports }}</p>
</div>

<div class="card">
<h4>Total Revenue</h4>
<p>₹ {{ total_revenue }}</p>
</div>

</div>

<form method="get" class="filters">

<input type="text" name="q" placeholder="Search Client">

<select name="plan">
<option value="">All Plans</option>
<option value="₹51 – बेसिक प्लान">₹51 – बेसिक प्लान</option>
<option value="₹151 – एडवांस प्लान">₹151 – एडवांस प्लान</option>
<option value="₹251 – प्रो प्लान">₹251 – प्रो प्लान</option>
<option value="₹501 – अल्टीमेट प्लान">₹501 – अल्टीमेट प्लान</option>
</select>

<select name="source">
<option value="">All Sources</option>
<option value="Website">Website</option>
<option value="Manual">Manual</option>
</select>

<select name="status">
<option value="">All Status</option>
<option value="Pending">Pending</option>
<option value="Reviewed">Reviewed</option>
<option value="Completed">Completed</option>
</select>

<select name="payment">
<option value="">All Payment</option>
<option value="Pending">Pending</option>
<option value="Paid">Paid</option>
</select>

<input type="date" name="start_date">
<input type="date" name="end_date">

<button class="btn">Apply</button>

</form>


<table>

<tr>
<th>Client Code</th>
<th>Name</th>
<th>Plan</th>
<th>Source</th>
<th>Status</th>
<th>Phone</th>
<th>Payment</th>
<th>Date</th>  
<th>Action</th>
</tr>

{% for c in clients %}

<tr>

<td>{{ c[1] }}</td>
<td>{{ c[2] }}</td>
<td>{{ c[4] }}</td>
<td>{{ c[5] }}</td>
<td>{{ c[6] }}</td>
<td>{{ c[3] }}</td>

<td>
{% if c[8] == "Paid" %}
<span class="paid">Paid</span>
{% else %}
<span class="pending">Pending</span>
{% endif %}
</td>
  
<td>{{ c[7] }}</td>
  
<td>
<a class="btn" href="/admin/client/{{c[0]}}">View</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}
