<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>VATS Palm Reports</title>
<link rel="stylesheet" href="/static/css/admin.css">
</head>

<body>

<div class="sidebar">

<div class="logo">

<img src="/static/ganesha.png" class="logo-img">

<div class="brand-main">VATS</div>
<div class="brand-sub">Palm Reports</div>

</div>
  
<hr>
  
<a href="/admin/dashboard" class="{% if request.url.path == '/admin/dashboard' %}active{% endif %}">
Dashboard
</a>

<a href="/admin/add-client" class="{% if request.url.path == '/admin/add-client' %}active{% endif %}">
Add Client
</a>

</div>


<div class="main">

<div class="header no-border">

आचार्य विशाल वैष्णव – हस्तरेखा विशेषज्ञ एवं वैदिक ज्योतिषज्ञ

</div>

<div class="container">

{% block content %}
{% endblock %}

</div>

</div>

</body>
</html>
